@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-sm: 600px;
  --breakpoint-md: 1000px;
  
  --filter-logo: sepia(60%) grayscale(30%);
  --font-rubik-pixels: "Rubik Pixels", sans-serif;
  --font-barrio: "Barrio", system-ui;
}

:root {
  background-color: #342f2f;
  color:rgb(141, 140, 140);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (width <= 600px) {
  body {
    padding-inline: 10px;
  }
}

@media screen and (width > 600px) and (width <= 1000px) {
  body {
    padding-inline: 30px;
  }
}

@media screen and (width > 1000px) {
  body {
    padding-inline: 50px;
  }
}